*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #212427;
  background: #f2f4fa;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
